/* TEMPLATE */

body {
  font-family: 'Karma', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 3.5em;
}

.navbar {
  background-color: #052611;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  font-weight: bold;
}

.navbar-brand {
  display: none;
}

.page-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: auto;
  padding: 1em 0;
  background-color: #919191;
  text-align: center;
}

footer, footer > a {
  color: white;
}

.footerElement {
  width: 50%;
}

/* GLOBAL */

article {
  margin: 1em auto 3em auto;
  text-align: justify;
  line-height: 2;
  font-size: 1.2em;
}

h1 {
  margin: 1em auto;
  padding: 0.2em;
  border-bottom: 1px dashed grey;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

h2 {
  margin: 3em auto 2em auto;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
}

#elementInBold {
  font-weight: bold;
}

#paginationNav {
  margin: 1em auto 0 auto;
}

#redirectionLink {
  text-align: right;
}

/* HOME VIEW */

#imgContainer {
  position: relative;
}

#img {
  width: 100%;
}

#titleContainer {
  display: none;
}

#homeViewChapters {
  margin: 3em auto;
}

/* POST VIEW */

#h1PostView {
  border: none;
}

#postingComments {
  padding: 1em 2em;
  border: 1px solid #e2e2e2;
}

#commentActions {
  left: 10px;
  top: 5px;
  text-align: center;
}

#commentActions > .btn {
  color: green;
}

#commentActions > .btn:hover {
  font-weight: bold;
}

/* Link that appears if the visitor is not logged in */

#linkToLogIn {
  margin: 2em auto;
  padding: 1em;
  width: 50%;
  border-radius: 5px 5px;
  background-color: #29a54e;
  color: white;
  text-align: center;
}

#logIn {
  text-decoration: underline;
  color: white;
}

#logIn:hover {
  font-weight: bold;
}

/* INSCRIPTION VIEW */

#formInscriptionView, #formConnectionView {
  text-align: center;
  margin: 3em auto;
  font-size: 1.2em;
}

/* POSTS ADMIN VIEW */

.far.fa-edit {
  font-size: 4em;
  color: white;
}

#postActions {
  padding: 1em;
  background-color: black;
  text-align: center;
  font-size: 1.2em;
}

#postActions > a {
  margin: 1em;
  color: white;
}

#postActions > a:hover {
  font-weight: bold;
}

#formAdminPostView {
  margin:auto;
  width: 90%;
}

#submitPost {
 margin-top: 1em;
 font-size: 1.2em;
 font-weight: bold;
}


/* COMMENTS ADMIN VIEW */

button a {
  color: inherit;
}