@media all and (min-width: 700px) {

    #jeanForteroche {
        display: block;
        margin: 0;
        padding-top: 0.15em;
        padding-left: 60%;
        font-size: 1.5em;
        font-family: 'Major Mono Display', monospace;
        color: white;
      }

      form {
          max-width: 50%;
      }
}